<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mapquestapikey" value="P6T1ueQLrFgHyNoeG6ewTuebM6uHxMPa"/>
		<add key="mapimagespath" value="./MapImages"/>
		<add key="connectionstring" value="Host=localhost;Port=5432;Username=postgres;Password=postgres"/>
	</appSettings>
</configuration>