<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MapQuestAPIDirection" value="http://www.mapquestapi.com/directions/v2/route?"/>
		<add key="MapQuestAPIStaticMap" value="https://www.mapquestapi.com/staticmap/v5/map?"/>
		<add key="MapquestAPIKey" value="P6T1ueQLrFgHyNoeG6ewTuebM6uHxMPa"/>
		<add key="MapImagesPath" value="./Map-Images"/>
		<add key="PDFReportsPath" value="./PDF-Reports"/>
		<add key="ConnectionString" value="Host=localhost;Port=5432;Username=postgres;Password=postgres"/>
		<add key="DatabaseName" value="tourplanner"/>
		<add key="DatabaseToursTableName" value="tours"/>
		<add key="DatabaseTourLogsTableName" value="tourlogs"/>
		<add key="Language" value="English"/>
	</appSettings>
</configuration>